<div class="jumbotron">
  <div class="container">
    <h1>Editing User</h1>
  </div>
</div>

<div class="container">
<%= render 'form' %>
<br/>
<br/>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>
