<div class="jumbotron">
  <div class="container">
    <h1>New Story</h1>
  </div>
</div>

<div class="container">

  <%= render 'form' %>
  <%= p "#{@chapters}" %>
  <br><br>
  <%= link_to 'Back', stories_path %>
</div>
