<div class="jumbotron">
  <div class="container">
    <h1>Editing Chapter</h1>
  </div>
</div>
<div class="container">
  <%= render 'form' %>
  <br><br>
  <%= link_to 'Show', @chapter %> |
  <%= link_to 'Back', :back %>
</div>
